
#main {

border: 15px dotted grey;
  padding: 20px;'
}
body {
  background-color: #00ffcc;
  color:green;
}

h1 {
  color: #ff99cc;
  text-align: center;
  font-family:Comic Sans MS;
  font-size:46px;
}

p {
text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
  color: #ff99cc;
  border: outset 15px grey;
 }
}
img {
    display: block;
    margin: 0 auto;
    width:50%;
    height:auto;
    border-radius: 20%;
}
table {
border: 1px solid black;
margin-left: auto;
margin-right: auto;
border-collapse:collapse;
}
table th,td{
border: 1px solid black;
}

